<?xml version="1.0" encoding="UTF-8"?>
<gpx xmlns="http://www.topografix.com/GPX/1/1" creator="Mass Bay Racing" version="1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.topografix.com/GPX/1/1 http://www.topografix.com/GPX/1/1/gpx.xsd">
  <%= for wpt <- @waypoints do %>
  <wpt lat="<%= wpt.lat %>" lon="<%= wpt.lon %>">
    <name><%= wpt.name %></name>
    <desc><%= wpt.desc %></desc>
  </wpt>
  <% end %>
</gpx>